.favorites {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favorites h1 {
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.error {
  margin: auto;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.error img {
  width: 25rem;
  height: 25rem;
}
